body {
	padding: 10px;
}

.listHeader {
	background-color: #2062B8;
	color: white;
	font-style: italic;
}

.list {
	border: 1px solid silver;
	padding: 2px;
	margin-bottom: 6px;
}

.sendPanel {
	margin: 10px 0px 15px 0px;
}

/* Dynamic color changes for the Change field */
.noChange {
	color: black;
}

.positiveChange {
	color: green;
}

.negativeChange {
	color: red;
}

.errorMessage {
	color: red;
}